entrypoint = "main.cs"

hidden = ["bin", "obj"]
modules = ["dotnet-7.0", "dotnet-8.0"]

[env]
DOTNET_NOLOGO = "1"
DOTNET_CLI_TELEMETRY_OPTOUT = "1"
DOTNET_CLI_HOME = "$XDG_CACHE_HOME"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[deployment]
run = ["dotnet", "run"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SharkSEM-Test-D Demo"

[[workflows.workflow]]
name = "SharkSEM-Test-D Demo"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src/SharkSEM-Test-D/SemController.Tescan.Example && dotnet run"
